<div class="card">
  <h3><b>{{message.question}}</b></h3>
  <h4><em>{{message.author}}</em></h4>
  <p>{{message.additionalinfo}}</p>
  <button type="button" name="button" {{action 'upVote' message}}>Upvote</button><p>{{message.upvote}},</p><br>

  <button type="button" name="button" {{action 'upVote' message}}>Downvote</button>{{message.upvote}}<br>
  {{#link-to "answer" message.id class="btn btn-info" }}Answer question{{/link-to}}
  {{#link-to "update" message.id class="btn btn-warning"}}Edit question{{/link-to}}
  <button type="button" name="button" {{action "destroyMessage" message}} class="btn btn-danger">Delete</button>
</div>
